<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <filter>
        <filter-name>FilterDemo01</filter-name>
        <filter-class>cn.itcast.web.filter.FilterDemo01</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDemo01</filter-name>
        <url-pattern>/wordServlet</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LuanMaFilter</filter-name>
        <filter-class>cn.itcast.web.filter.LuanMaFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LuanMaFilter</filter-name>
        <url-pattern>/wordServlet</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>WordServlet</servlet-name>
        <servlet-class>cn.itcast.web.servlet.WordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WordServlet</servlet-name>
        <url-pattern>/wordServlet</url-pattern>
    </servlet-mapping>
</web-app>
